.search {
    margin: auto;
    position :relative;
    border: 2px solid #ff5000;
    right: 0;
    top: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: none;
    overflow: hidden;
    height: 36px;
    width:550px;
}
.search-btn {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 74px;
    height: 43px;
    overflow: hidden;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: url(images/camera.png) no-repeat 0 2px;
    background-size: 32px 32px;
    padding-left: 40px;
}
.search-btn .btn {
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: #FF4200;
    cursor:poiter;
    height: 100%;
    border: none;
    width: 100%;
}
.holder label {
    position: absolute;
    top: 11px;
    left: 18px;
    color: #9c9c9c;
    cursor: text;
    font-size: 11px;
    background: url(images/search.png) no-repeat 0 0;
    background-size: 17px 17px;
    padding-left: 20px;
}
input {
    margin: auto auto;
    margin-left: 15px;
    width: 400px;
    min-height: 30px;
    border-color: rgba(129, 120, 120,0);
    background: #FFF;
}