li {
    list-style: none;
}
a {
    text-decoration: none;
}
body,ul,li {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'iconfont';  /* project id 635082 */
    src: url('//at.alicdn.com/t/font_635082_x5q993x6tzbk2o6r.eot');
    src: url('//at.alicdn.com/t/font_635082_x5q993x6tzbk2o6r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_635082_x5q993x6tzbk2o6r.woff') format('woff'),
    url('//at.alicdn.com/t/font_635082_x5q993x6tzbk2o6r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_635082_x5q993x6tzbk2o6r.svg#iconfont') format('svg');
  }
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/*导航部分的样式*/
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.top-bar {
  /* 咱们在css中尽量不设置高度，你可以复习这一小节：https://www.qingguatang.com/preview/task?id=50587769570852864&index=0
  你看现在的效果呢，它其他没有居中， 可以尝试里面的链接设置 line-height 来达到高度，同时让文字剧中的目的 */
  height: 28px;
  background-color: rgb(39, 39, 39);
}

/* 现在布局做正确了，很棒 */
.top-nav li {
    float: left;
    margin: 0 13px;
    padding-top: 6px;
}
.top-bar a {
    color: white;
}

/* 这里面文字的上下居中，我们也可以使用line-height。 */
.user-status li {
    float: left;
    margin: 0 13px;
    padding-top: 6px;
}
.top-nav {
    float: left;
    font-size: 15px;
}
.user-status {
    float: right;
    font-size: 15px;
}
.page {
    /* 尝试使用padding来把高度撑起来，不要直接设置高度 */
    height: 75px;
    background-color: rgb(186, 238, 212);
}
.page-header {
    width: 1040px;
    margin: 0 auto;
}
.page-header .main-nav {
    float: left;
    width: 600px;
    /* 这里的高度也一样，尝试使用padding撑出高度 */
    height: 56px;

    /* 请使用margin或padding来调整，不使用position:relative来调整 */
    position: relative;
    top: 9px;
}
.page-header .main-nav a{
    font-weight: bold;
    color: green;
}
.page-header .search-bar {
    float: right;
    padding-top:15px; 
    /* 这个position:reltive应该不需要的
    我们也没有讲过在position relative元素上设置left 和top
    它只是用于给里面的absolute元素作参考用 */
    position: relative;
    top: 6px;
}
.page-header .main-nav li {
    float: left;
    margin: 0 13px;
    padding-top: 15px;
    position: relative;
}
.page-header .main-nav img {
    width: 160px;
    height: 60px;
    float: left;
}
.main-nav .new {
    background-color: #ef866d;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top:3px;
    left: 65px;
}
.top-bar .menu {
    width: 110px;
    position: relative;
}
.menu .items {
    display: none;
}
.menu:active .items {
    display: block;
}
i {
    position: absolute;
    top: 0;
    right: 0; 
    color: #fff;
}
.top-bar .menu .items {
    position: absolute;
    top: 30px;
    border: 1px solid #e5e6e6;
    background: #fff;
}
.top-bar .menu .items li {
    padding: 5px 10px 5px 10px;
}
/*内容的样式布局*/
.first {
    width: 800px;
    height: 100px;
    margin: 0 auto;
    padding-top: 35px; 
}
.tabs li {
    float: left;
    margin: 0 22px;
    position: relative;
}
.tabs li a {
    color: #37a;
    font-size: 14px;
}
.tabs li a:hover {
    background: #37a;
    color: #fff;
}
.tabs span {
    /* 这个icon的居中，你可以使用vertical-align: middle来完成
    我们只在浮层，或者说元素不能占空间的场景下使用absolute，其他场景都不使用 */
    position: absolute;
    left: -23px;
    top: 1px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(images/css_sprites.png) no-repeat -3px -3px;
    background-size: 25px 125px;
}
.write {
    width: 790px;
    height: 30px;
    margin-top: 10px;
    border: rgb(167, 165, 165) 3px solid;
}
.tabs .talk .icon {
    background-position: -3px -53px;
}
.tabs .photo .icon {
    background-position: -3px -103px;
}
.tabs .web-page .icon {
    background-position: -3px -28px;
}
.tabs .diary .icon {
    background-position: -3px -78px;
}
/*底部导航的样式布局*/
.base-bar {
    /* 这个clear属性应该没有用，不要写没有用的样式 */
    clear: both;
    width: 800px;
    /* 使用line-height来完成 */
    height: 20px;
    margin: 0 auto;
    
    /* 下面这个可直接使用margin-top来完成 */
    /* 一般来说，当你写position:relative，再设置top 或 left，这个代码就是有问题的 */
    position: relative;
    top: 395px;
}
.foot-nav li {
    float: left;
    margin: 0 10px;
    position: relative;
    color: rgb(67, 67, 136);
}
/* 底部的中间的点的装饰做得不错 */
.foot-nav li::after {
    width: 5px;
    height: 5px;
    display: block;
    content: '';
    background: rgb(84, 71, 160);
    position: absolute;
    right: -13px;
    top: 7px;
}
.foot-nav li:last-child::after {
    display: none;
}